/* ----- 1: SETTINGS ------- */
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* ----- 2: ATOMS ------- */
/* ----- 3: LAYOUT ------- */
/* ----- 4: COMPONENTS ------- */
#main-app .container {
  padding: 0px;
  display: block;
}

.configuration-steps {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  height: auto;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 66.125rem;
  padding: 0 1rem;
}

.actions {
  background-color: #F5F5F5;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}
.header .title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .title .iconify {
  font-size: 2em;
  background-color: #1E1E1E;
  color: #FFFFFF;
  border-radius: 50px;
  padding: 3px;
}

.steps {
  z-index: 2;
  width: 100%;
  position: relative;
}
.steps ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.steps ul::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 22%;
  right: 22%;
  height: 2px;
  background-color: #ddd;
  z-index: -1;
  transform: translateY(-50%);
}
.steps ul.has-active::before {
  left: 20%;
  right: 20%;
}
.steps ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.steps ul li .item {
  width: 90px;
  height: 90px;
  background-color: #D14526;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}
.steps ul li .item .icon {
  position: absolute;
}
.steps ul li .item .icon .iconify {
  font-size: 4em;
  color: #FFFFFF;
}
.steps ul li .item .icon.two-icons .iconify {
  font-size: 2.3em;
}
.steps ul li .item .label {
  font-weight: bold;
  font-size: 15px;
  position: relative;
  top: 74px;
  color: #D14526;
  white-space: nowrap;
}
@media (max-width: 450px) {
  .steps ul li .item .label {
    white-space: normal;
  }
}
.steps ul li .item.active {
  width: 149px;
  height: 149px;
}
.steps ul li .item.active .icon .iconify {
  font-size: 7em;
}
.steps ul li .item.active .icon.two-icons .iconify {
  font-size: 4em;
}
.steps ul li .item.active .label {
  top: 110px;
}
.steps ul li:hover {
  cursor: pointer;
}

.menu {
  margin-top: 5rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
}
.menu .tabs-component__panels {
  margin: 0px;
}
.menu .tabs-component__button--active::after {
  background-color: #117C83;
}

.oc-tabs {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 61.125rem;
  position: relative;
  width: 100%;
}
.oc-tabs .item {
  position: relative;
}
.oc-tabs .item.active {
  font-weight: bold;
}
.oc-tabs .item.active::before {
  background-color: #117C83;
  border-radius: 3px;
  bottom: -2px;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
}
.oc-tabs .item:hover {
  cursor: pointer;
}

.content {
  background-color: #F5F5F5;
  padding: 10px;
  width: 100%;
}
.content .stage {
  padding: 10px;
  border-radius: 5px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 61.125rem;
  width: 100%;
}

.oc-dialog {
  position: relative;
  height: 12rem;
}
.oc-dialog .iconify {
  position: relative;
  top: 19%;
  font-size: 22px;
}
.oc-dialog .triangle {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 26px solid #f5f5f5;
  border-left: 0;
  position: absolute;
  top: 20%;
  left: 3%;
}
@media (max-width: 450px) {
  .oc-dialog .triangle {
    left: 6%;
  }
}
.oc-dialog .content {
  background-color: #F5F5F5;
  width: 50%;
  position: absolute;
  left: 45px;
  border-radius: 12px;
}

.oc-actions {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 61.125rem;
  position: relative;
  width: 100%;
}

/* ----- 5: AREAS ------- */
.settings-email {
  width: 100%;
}
